{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<form method="POST" class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
    {{ form.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-5">
        {{ macros.camposNuevos(form.id,class="block w-full px-3 py-2 text-sm text-gray-900 bg-gray-50 
        border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 
        dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
    </div>
    <div class="mb-5">
        {{ macros.camposNuevos(form.nombre,class="block w-full px-3 py-2 text-sm text-gray-900 bg-gray-50 
        border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 
        dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
    </div>
    <div class="mb-5">
        {{ macros.camposNuevos(form.apaterno,class="block w-full px-3 py-2 text-sm text-gray-900 bg-gray-50 
        border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400
        dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
    </div>
    <div class="mb-5">
        {{ macros.camposNuevos(form.email,class="block w-full px-3 py-2 text-sm text-gray-900 bg-gray-50 
        border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400
        dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
    </div>
    <div class="flex justify-between mt-6">
        <input
            type="submit"
            id="btn1"
            name="btn1"
            value="Modificar"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium 
                  rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <a href="{{ url_for('index') }}"
           class="text-gray-700 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 font-medium 
                  rounded-lg text-sm px-5 py-2.5 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800">
            Cancelar
        </a>
    </div>
</form>

{% endblock %}